.add-schedule-page {
  padding: 20px;
  background-color: #f8f8ff;
  min-height: 100%;
  color: #333;
  border-radius: 10px;
}

.add-schedule-page h2 {
  text-align: center;
  color: rgb(119, 19, 249);
  margin-bottom: 20px;
}

.add-schedule-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.add-schedule-form label {
  margin-top: 10px;
  font-weight: bold;
}

.add-schedule-form input,
.add-schedule-form select {
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.2s;
}

.add-schedule-form input:focus,
.add-schedule-form select:focus {
  border-color: rgb(119, 19, 249);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn {
  background-color: rgb(119, 19, 249);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: rgb(138, 65, 249);
}

.back-btn {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #aaa;
}
