body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.app {
  height: 100vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;            
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a42f4;
  color: white;
  padding: 0 20px;
  z-index: 1000;          
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 30px;
  margin-right: 10px;
}

.navbar-title {
  font-weight: bold;
  font-size: 18px;
}

.login-btn {
  padding: 6px 16px;
  border: 1px solid #07060f;
  border-radius: 20px;
  background-color: transparent;
  color: #5a3ef4;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.login-btn:hover {
  background-color: #5a3ef4;
  color: white;
}


.bus-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

/* Center box */
.center-box {
  flex: 1;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background: url("./pics/backgroud.png") no-repeat center center;
  background-size: cover;   /* áº£nh scale full */
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
