.assign-form-page {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assign-form-page h2 {
  color: #4f46e5;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.assign-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.assign-form label {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.assign-form select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}
.assign-form select:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
  outline: none;
}

.ass-button-container {
  display: flex;
  margin-top: 3%;
  gap: 10px;
  justify-content: flex-start;
}
.assign-btn {
  background-color: #22c55e;
  width: 21%;
  
}
.assign-btn:hover {
  background-color: #16a34a;
  transform: translateY(-2px);
}

.ass-back-btn {
  background-color: #6b7280;
  width: 15%;
}
.ass-back-btn:hover {
  background-color: #4b5563;
    transform: translateY(-2px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
