.session-table {
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.session-table th,
.session-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.session-table th {
  background: #3372cb;
  font-weight: 600;
  cursor: default;
}

.session-table td {
    background: #d9e0e9;
}

.session-table tr:hover {
  background: #f1f6ff;
}

.session-table button {
  margin: 0 5px;
  padding: 6px 12px;
  border: none;
  cursor: copy;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s;
}

/* .session-table button:first-child {
  background: #4caf50;
  color: #fff;
}

.session-table button:first-child:hover {
  background: #43a047;
}

.session-table button:last-child {
  background: #e53935;
  color: #fff;
}

.session-table button:last-child:hover {
  background: #c62828;
} */